
<app-about-me 

[portfolio]='portfolio' 
[my_photo]='my_photo' 
[love_skills]='love_skills'></app-about-me>

<app-navbar
[username]='username'
[navLi]='navLi'></app-navbar>

<app-skills
*ngIf='(!navLi[1].state)'
[title]='navLi[1].name'
[realSkills]='realSkills'></app-skills>

<app-experience
[title]='navLi[2].name' 
*ngIf='(!navLi[2].state)'
[experience]='experience'></app-experience>




<app-project 
[buttons]='buttons'
[projects]='projects'
[urls]='urls'
[navLi]='navLi'
[username]='username'></app-project>














