<form>
  <div class="form-group form-inline">
    Search <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-hover table-dark">

    <thead class="headtable">
      <tr>
        <th class="headborder" scope="col" sortable="name" (sort)="onSort($event)" *ngFor="let trname of hedTable">
          {{trname}}</th>

      </tr>
    </thead>

    <tbody>

      <tr
      *ngFor="let country of  (countries$ | async )  index as i">
        
        <td class='text-nowrap'
        [ngClass]="{'hidekey':cx.key=='key'}"
         *ngFor="let cx of (country | keyvalue); index as ii">
        
         <div class="edit" *ngIf="ii==0">
            <i class="icon-minus mr-2" style="width: 20px" (click)='deletItem(country.key)'></i>
            <i class="icon-eye mr-2" style="width: 20px" (click)='displayItem(country.key)'></i>
          </div>
        
          <ngb-highlight [result]="cx.value" 
          *ngIf="cx.key!='key'"
          [term]="service.searchTerm">
          </ngb-highlight>
        </td>
      </tr>
    </tbody>


  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form>